:root {
  --color-background: #1f1f1f;
  --color-text: #ffffff;
  --color-border: rgba(255, 255, 255, 0.65);
  --container-width: 1414px;
  --container-padding: 20px;
}

body {
  min-width: 320px;
  font-family: "Montserrat", Arial, sans-serif;
  color: var(--color-text);
  background-color: var(--color-background);
}

body.menu-open {
  overflow: hidden;
  background-color: #1E1E1E;
}

body.modal-open {
  overflow: hidden;
}

.main {
  position: relative;
  overflow: hidden;
  padding-top: 129px;
}

.main__glow {
  position: absolute;
  top: 1092px;
  left: -395px;
  width: 887px;
  height: 887px;
  border-radius: 50%;
  background: rgba(103, 166, 251, 1);
  filter: blur(200px);
  pointer-events: none;
  z-index: 0;
}

.container {
  width: min(100% - (var(--container-padding) * 2), var(--container-width));
  margin-inline: auto;
}

@media (max-width: 480px) {
  .main {
    padding-top: 80px;
  }

  .main__glow {
    width: 520px;
    height: 520px;
    top: 980px;
    left: -220px;
    filter: blur(200px);
  }
}
